/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}