{% extends 'base.html' %}

{% block pageLevelStyle   %}

<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.css">
{% endblock pageLevelStyle %}


{% block body %}
<body data-page="products">
{% endblock body %}


{% block content %}
    <div id="main-content">
        <div class="m-b-20 clearfix">
            <div class="page-title pull-left">
                <h3 class="pull-left"><strong>Gestionar Artículos</strong></h3>
            </div>
             <div class="pull-right">
                <a href="ecommerce_product_view.html" class="btn btn-success m-t-10"><i class="fa fa-plus p-r-10"></i>Agregar un artículo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <table id="articulos-table" class="table table-tools table-hover order-column">
                                    <thead>
                                        <tr>
                                            <th style="min-width:70px"><strong>Codigo</strong></th>
                                            <th class="dt-center"><strong>Artículo</strong>
                                            </th>
                                            <th class="dt-center"><strong>Talle</strong>
                                            </th>
                                            <th class="dt-center"><strong>Color</strong>
                                            </th>
                                            <th class="dt-center"><strong>Precio</strong>
                                            </th>
                                            <th class="dt-center"><strong>Stock</strong>
                                            </th>
                                            <th class="dt-center"><strong>Ventas</strong>
                                            </th>
                                            <th class="dt-center"><strong>Acciones</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        {% for articulo in lista_articulos %}
                                        <tr>
                                            <td class="dt-center">{{ articulo.codigo }}</td>
                                            <td class="dt-center">{{ articulo.descripcion|safe }}</td>
                                            <td class="dt-center">{{ articulo.talle }}</td>
                                            <td class="dt-center">{{ articulo.color }}</td>
                                            <td class="dt-center"><strong>{{ articulo.precio }}</strong></td>
{#                                            <td class="color-success">#}
{#                                                <div class="progress">#}
{#                                                    <div class="progress-bar progress-bar-success" data-aria-valuetransitiongoal="75">{{ articulo.stock }}</div>#}
{#                                                </div>#}
{#                                            </td>#}
                                            <td class="dt-center"><strong>{{ articulo.stock }}</strong></td>
                                            <td class="text-center">
                                                <div class="sparkline" data-sparkline-color="#7BB2B4"
                                                data-sparkline-value="[13,14,16,15,4,14,20,14,12]"></div>
                                            </td>
                                            <td class="text-center ">
                                                <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
{#                                                <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>#}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block pageLevelScripts %}
    <script src="{{ STATIC_URL }}plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/table.editable.js"></script>
    <script src="{{ STATIC_URL }}js/ecommerce.js"></script>
{% endblock pageLevelScripts %}