
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"><!--<![endif]-->
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Sistema Cruzada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="{{ STATIC_URL }}css/icons/icons.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.min.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->

        <!-- BEGIN PAGE LEVEL STYLE -->
    {% block pageLevelStyle   %}
    {% endblock pageLevelStyle %}
    <!-- END PAGE LEVEL STYLE -->
    <script src="{{ STATIC_URL }}plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>



</head>
{% block body %}

{% endblock body %}
<!-- BEGIN TOP MENU -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="menu-medium" class="sidebar-toggle tooltips">
                    <i class="fa fa-outdent"></i>
                </a>
                {% comment %}<a class="navbar-brand" href="{% url 'home' %}"></a>{% endcomment %}
            </div>
            <div class="navbar-center">Emanuel Pereyra ::: Sistema Cruzada</div>
            <div class="navbar-collapse collapse">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right header-menu">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN MESSAGES DROPDOWN -->
                    <!-- END MESSAGES DROPDOWN -->
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img src="{{ STATIC_URL }}img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
                            <span class="username">{{ user }}</span>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-footer clearfix">
                                <a href="javascript:;" class="toggle_fullscreen" title="Fullscreen">
                                    <i class="glyph-icon flaticon-fullscreen3"></i>
                                </a>
                                <a href="{% url 'login' %}" title="Logout">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <nav id="sidebar">
            <div id="main-menu">
                <ul class="sidebar-nav">
                    {% if home %}
                    <li class="current">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i><span class="sidebar-text">Dashboard</span></a>
                    </li>
                    {% if ventas %}
                    <li class="active current hasSub">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="#"><i class="glyph-icon flaticon-shopping80"></i><span class="sidebar-text">Ventas</span>
                        <span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            {% if nueva_venta %}
                            <li class="current">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'venta' %}"><span class="sidebar-text">Nueva Venta</span></a>
                            </li>
                        </ul>
                    </li>
                    {% if articulos %}
                    <li class="active current hasSub">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="#"><i class="fa fa-list"></i><span class="sidebar-text">Artículos</span>
                        <span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            {% if b_lista_articulos %}
                            <li class="current">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'lista_articulos' %}"><span class="sidebar-text">Lista Artículos</span></a>
                            </li>
                            {% if nuevo_articulo %}
                            <li class="current">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="#"><span class="sidebar-text">Nuevo Artículo</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END MAIN SIDEBAR -->

        {% block content %}
        <!-- BEGIN MAIN CONTENT -->

        <!-- END MAIN CONTENT -->
        {% endblock content %}
    </div>
    <!-- END WRAPPER -->

    <!-- BEGIN MANDATORY SCRIPTS -->
{#    <script src="{{ STATIC_URL }}plugins/mandatoryJs.min.js" type="text/javascript"></script>#}
    <script src="{{ STATIC_URL }}plugins/jquery-1.11.js"></script>
    <script src="{{ STATIC_URL }}plugins/jquery-migrate-1.2.1.js"></script>
    <script src="{{ STATIC_URL }}plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/jquery-mobile/jquery.mobile-1.4.2.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
    <script src="{{ STATIC_URL }}plugins/nprogress/nprogress.js"></script>
    <script src="{{ STATIC_URL }}plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/breakpoints/breakpoints.js"></script>
    <script src="{{ STATIC_URL }}plugins/numerator/jquery-numerator.js"></script>
    <script src="{{ STATIC_URL }}plugins/jquery.cookie.min.js" type="text/javascript"></script>


    <!-- END MANDATORY SCRIPTS -->
        <script>
        $(function(){

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    }
                }
            });
        });
        </script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    {% block pageLevelScripts %}

    {% endblock pageLevelScripts %}
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="{{ STATIC_URL }}js/application.js"></script>
</body>
</html>