{% extends 'base.html' %}

{% block pageLevelStyle   %}

<link href="{{ STATIC_URL }}plugins/metrojs/metrojs.min.css" rel="stylesheet">
{% endblock pageLevelStyle %}

{% block body %}
<body data-page="dashboard">
{% endblock body %}

{% block content %}
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
            <div class="row m-t-20">
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-blue p-15">
                            <div class="row m-b-10">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-visitors"></i>
                                </div>
                                <div class="col-xs-9">
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="56">
                                        <div>
                                            <small class="stat-title">Visits today</small>
                                            <h1 class="m-0 w-300">25 610</h1>
                                        </div>
                                        <div>
                                            <small class="stat-title">Visits yesterday</small>
                                            <h1 class="m-0 w-300">22 420</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">New Visitors</small>
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="30">
                                        <div>
                                            <h3 class="m-0 w-300">37.5%</h3>
                                        </div>
                                        <div>
                                            <h3 class="m-0 w-300">34.2%</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Bounce Rate</small>
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="30">
                                        <div>
                                            <h3 class="m-0 w-500">5.6%</h3>
                                        </div>
                                        <div>
                                            <h3 class="m-0 w-500">7.4%</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-red p-15">
                            <div class="row m-b-6">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-educational"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">PAGES VIEW</small>
                                    <h1 class="m-0 w-500">201k</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Duration</small>
                                    <h3 class="m-0 w-500">18:25</h3>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Pages / visits</small>
                                    <h3 class="m-0 w-500">21</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-green p-15">
                            <div class="row m-b-0">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-orders"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">ORDERS THIS MONTH</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="47">
                                        <div>
                                            <h1 class="m-0 w-500 bg-green">148</h1>
                                        </div>
                                        <div>
                                            <h1 class="m-0 w-500 bg-green">+28%</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Last month</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="30">
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">126</h3>
                                        </div>
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">$12,545</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Last week</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="30">
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">41</h3>
                                        </div>
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">$4,237</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-dark p-15">
                            <div class="row m-b-6">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-incomes"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">INCOMES THIS MONTH</small>
                                    <h1 class="m-0 w-500">$<span class="animate-number" data-value="42567" data-animation-duration="1400">0</span></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Last month</small>
                                    <h3 class="m-0 w-500">$<span class="animate-number" data-value="38547" data-animation-duration="1400">0</span></h3>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Last week</small>
                                    <h3 class="m-0 w-500">$<span class="animate-number" data-value="8754" data-animation-duration="1400">0</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock content %}


{% block pageLevelScripts %}
<script src="{{ STATIC_URL }}plugins/metrojs/metrojs.min.js"></script>
{% endblock pageLevelScripts %}