{% extends 'base.html' %}

{% block pageLevelStyle   %}

<link href="{{ STATIC_URL }}plugins/metrojs/metrojs.min.css" rel="stylesheet">
{% endblock pageLevelStyle %}

{% block body %}
<body data-page="dashboard">
{% endblock body %}

{% block content %}
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
            <div class="row m-t-20">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 class="w-500 alert bg-blue">Trabajo final de grado</h1>
                            <h1 class="w-500 alert bg-blue">Ingeniería en Computación</h1>
                            <h2 class="w-500 alert bg-green">Adminsitración de Proyectos</h2>
                            <h2 class="w-500 alert bg-green">Universidad Católica de Santiago del Estero</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock content %}


{% block pageLevelScripts %}
<script src="{{ STATIC_URL }}plugins/metrojs/metrojs.min.js"></script>
{% endblock pageLevelScripts %}