{% extends 'base.html' %}

{% block pageLevelStyle   %}
<link href="{{ STATIC_URL }}css/colors/color-red.css" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.css">
{% endblock pageLevelStyle %}

{% block body %}
<body>
{% endblock body %}

{% block content %}
    <div id="main-content">
        <div class="m-b-20 clearfix">
            <div class="page-title pull-left">
                <h3 class="pull-left"><strong>Gestionar Pedidos</strong></h3>
            </div>
            <div class="pull-right">
                <a href="ecommerce_product_view.html" class="btn btn-success m-t-10"><i class="fa fa-plus p-r-10"></i>Nuevo Pedido</a>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabcordion">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#externos" data-toggle="tab">Entrantes</a></li>
                            <li><a href="#propios" data-toggle="tab">Salientes</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="externos">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table id="externos-table" class="table table-tools table-hover">
                                            <thead>
                                                <tr>
                                                    <th><strong>Pedido</strong>
                                                    <th><strong>Origen</strong>
                                                    </th>
                                                    <th><strong>Destino</strong>
                                                    </th>
                                                    <th><strong>Estado</strong>
                                                    </th>
                                                    <th><strong>Acción</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pedido in lista_pedidos %}
                                                <tr>
                                                    <td>{{ pedido.codigo }}</td>
                                                    <td>{{ pedido.descripcion }}</td>
                                                    <td>{{ pedido.talle }}</td>
                                                    <td class="text-center">
                                                        <span class="label label-success w-300">Online</span>
                                                    </td>
                                                    <td class="text-center ">
                                                        <a href="#" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="propios">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table id="propios-table" class="table table-tools table-hover">
                                            <thead>
                                                <tr>
                                                    <th><strong>Pedido</strong>
                                                    <th><strong>Origen</strong>
                                                    </th>
                                                    <th><strong>Destino</strong>
                                                    </th>
                                                    <th><strong>Estado</strong>
                                                    </th>
                                                    <th><strong>Acción</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pedido in lista_pedidos %}
                                                <tr>
                                                    <td>{{ pedido.codigo }}</td>
                                                    <td>{{ pedido.descripcion }}</td>
                                                    <td>{{ pedido.talle }}</td>
                                                    <td class="text-center">
                                                        <span class="label label-success w-300">Online</span>
                                                    </td>
                                                    <td class="text-center ">
                                                        <a href="#" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}


{% block pageLevelScripts %}
    <script src="{{ STATIC_URL }}plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/table.editable.js"></script>
    <script>
        var propiosTable = $('#propios-table').dataTable({
            "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });
        //oTable.fnDraw();
        var externosTable = $('#externos-table').dataTable({
            "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });

        /* Add a placeholder to searh input */
        $('.dataTables_filter input').attr("placeholder", "Search a product...");

        /* Delete a product */
{#        $('#products-table a.delete').on('click', function (e) {#}
{#            e.preventDefault();#}
{#            if (confirm("Are you sure to delete this product ?") == false) {#}
{#                return;#}
{#            }#}
{#            var nRow = $(this).parents('tr')[0];#}
{#            oTable.fnDeleteRow(nRow);#}
{#            // alert("Deleted! Do not forget to do some ajax to sync with backend :)");#}
{#        });#}
    </script>
{% endblock pageLevelScripts %}