{% extends 'base.html' %}

{% block pageLevelStyle   %}

<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.css">
{% endblock pageLevelStyle %}

{% block body %}
<body>
{% endblock body %}

{% block content %}
    <div id="main-content">
        <div class="m-b-20 clearfix">
            <div class="page-title pull-left">
                <h3 class="pull-left"><strong>Gestionar Pedidos</strong></h3>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-success m-t-10"><i class="fa fa-plus p-r-10"></i>Nuevo Pedido</a>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabcordion">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#externos" data-toggle="tab">Externos</a></li>
                            <li><a href="#propios" data-toggle="tab">Propios</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="externos">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table id="externos-table" class="table table-tools table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="dt-center"><strong>Pedido</strong>
                                                    <th class="dt-center"><strong>Origen</strong>
                                                    </th>
                                                    <th class="dt-center"><strong>Estado</strong>
                                                    </th>
                                                    <th class="dt-center"><strong>Acción</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pedido in pedidos_externos %}
                                                <tr>
                                                    <td class="dt-center">{{ pedido.id|stringformat:"010d" }}</td>
                                                    <td class="dt-center">{{ pedido.origen }}</td>
                                                    <td class="dt-center">
                                                        <span class="label label-success w-300">{{ pedido.estado }}</span>
                                                    </td>
                                                    <td class="dt-center">
                                                        <a href="{% url 'pedido_detalle' pedido_id=pedido.id %}" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Editar</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="propios">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table id="propios-table" class="table table-tools table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="dt-center"><strong>Pedido</strong>
                                                    <th class="dt-center"><strong>Destino</strong>
                                                    </th>
                                                    <th class="dt-center"><strong>Estado</strong>
                                                    </th>
                                                    <th class="dt-center"><strong>Acción</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pedido in pedidos_propios %}
                                                <tr>
                                                    <td class="dt-center">{{ pedido.id|stringformat:"010d" }}</td>
                                                    <td class="dt-center">{{ pedido.destino }}</td>
                                                    <td class="dt-center">
                                                        <span class="label label-success w-300">{{ pedido.estado }}</span>
                                                    </td>
                                                    <td class="dt-center">
                                                        <a href="{% url 'pedido_detalle' pedido_id=pedido.id %}" class="edit btn btn-sm btn-default"><i class="fa fa-eye"></i> Ver</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}


{% block pageLevelScripts %}
    <script src="{{ STATIC_URL }}plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/table.editable.js"></script>
    <script>
        var propiosTable = $('#propios-table').dataTable({
            "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });
        //oTable.fnDraw();
        var externosTable = $('#externos-table').dataTable({
            "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });

        /* Add a placeholder to searh input */
        $('.dataTables_filter input').attr("placeholder", "Search a product...");

        /* Delete a product */
{#        $('#products-table a.delete').on('click', function (e) {#}
{#            e.preventDefault();#}
{#            if (confirm("Are you sure to delete this product ?") == false) {#}
{#                return;#}
{#            }#}
{#            var nRow = $(this).parents('tr')[0];#}
{#            oTable.fnDeleteRow(nRow);#}
{#            // alert("Deleted! Do not forget to do some ajax to sync with backend :)");#}
{#        });#}
    </script>
{% endblock pageLevelScripts %}