{% extends 'base.html' %}

{% block pageLevelStyle   %}

<link rel="stylesheet" href="{{ STATIC_URL }}plugins/magnific/magnific-popup.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.css">
{% endblock pageLevelStyle %}

{% block body %}
<body>
{% endblock %}

{% block content %}
        <div id="main-content">
            <div class="m-b-20 clearfix">
                <div class="page-title pull-left">
                    <h3><strong>Pedido n° {{ pedido.id|stringformat:"010d" }}</strong>
                        <small>{{ pedido.fecha_creacion }}</small></h3>
                </div>
                <div class="pull-right">
{#                    <a href="#" class="btn btn-success m-t-10"><i class="fa fa-plus p-r-10"></i>Nuevo Pedido</a>#}
                    {{ accion|safe }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Detalles</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal p-20">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Nro de Pedido:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>{{ pedido.id|stringformat:"010d"  }}</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Sucursal Origen:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>{{ pedido.origen }}</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Sucursal Destino:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>{{ pedido.destino }}</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Estado:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>{{ pedido.estado }}</strong>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Movimientos</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Movimiento</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Creación</td>
                                        <td>{{ pedido.fecha_creacion }}</td>
                                        <td>{{ pedido.usu_pedido }}</td>
                                    </tr>
                                    {% if pedido.fecha_remision != None %}
                                    <tr>
                                        <td>2</td>
                                        <td>Remisión</td>
                                        <td>{{ pedido.fecha_remision }}</td>
                                        <td>{{ pedido.usu_remision }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if pedido.fecha_proceso != None %}
                                    <tr>
                                        <td>3</td>
                                        <td>En Proceso</td>
                                        <td>{{ pedido.fecha_proceso }}</td>
                                        <td>{{ pedido.usu_proceso }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if pedido.fecha_procesado != None %}
                                    <tr>
                                        <td>4</td>
                                        <td>Procesado</td>
                                        <td>{{ pedido.fecha_procesado }}</td>
                                        <td>{{ pedido.usu_procesado }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if pedido.fecha_entrega != None %}
                                    <tr>
                                        <td>5</td>
                                        <td>Entregado</td>
                                        <td>{{ pedido.fecha_entrega }}</td>
                                        <td>{{ pedido.usu_entrega }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if pedido.fecha_recepcion != None %}
                                    <tr>
                                        <td>6</td>
                                        <td>Recibido</td>
                                        <td>{{ pedido.fecha_recepcion }}</td>
                                        <td>{{ pedido.usu_recepcion }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                            <div class="panel-heading">
                                <h3 class="panel-title">Artículos</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                    <table id="articulos-table" class="table table-tools table-hover">
                                        <thead>
                                            <tr>
                                                <th class="dt-center" style="min-width:70px"><strong>Codigo</strong>
                                                <th class="dt-center"><strong>Artículo</strong>
                                                </th>
                                                <th class="dt-center"><strong>Talle</strong>
                                                </th>
                                                <th class="dt-center"><strong>Color</strong>
                                                </th>
                                                <th class="dt-center"><strong>Cantidad</strong>
                                                </th>
{#                                                {% if not propio and not read_only %}#}
{#                                                <th class="dt-center"><strong>Actions</strong>#}
{#                                                </th>#}
{#                                                {% endif %}#}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ren in pedido_ren %}
                                            <tr>
                                                <td class="dt-center">{{ ren.codigo }}</td>
                                                <td class="dt-center">{{ ren.articulo }}</td>
                                                <td class="dt-center">{{ ren.talle }}</td>
                                                <td class="dt-center">{{ ren.color }}</td>
                                                <td class="dt-center"><strong>{{ ren.cantidad }}</strong></td>
{#                                                {% if not propio and not read_only %}#}
{#                                                <td class="dt-center">#}
{#                                                    <a id="aceptar_articulo" href="#" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Aceptar</a>#}
{#                                                    <a id="rechazar_articulo" href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Rehazar</a>#}
{#                                                </td>#}
{#                                                {% endif %}#}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{% endblock content %}


{% block pageLevelScripts %}
    <script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/table.editable.js"></script>
<script>
        var acc_pedido = $("#acc_pedido");
        var articulosTable = $('#articulos-table').dataTable({
            "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });
        //oTable.fnDraw();

        /* Add a placeholder to searh input */
        $('.dataTables_filter input').attr("placeholder", "Search a product...");
        acc_pedido.click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'siguiente_estado_ajax' %}",
                data: {
                    'pedido_id': {{ pedido.id }},
                    'estado_id': {{ pedido.estado_id }}
                },
                success: function(response){
                    console.log(response);
                    window.location.reload();
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        })
</script>
{% endblock pageLevelScripts %}