{% extends 'base.html' %}

{% block pageLevelStyle   %}

<link rel="stylesheet" href="{{ STATIC_URL }}plugins/magnific/magnific-popup.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
<link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.css">
{% endblock pageLevelStyle %}

{% block body %}
<body>
{% endblock %}

{% block content %}
        <div id="main-content">
            <div class="page-title">
                <i class="icon-custom-left"></i>
                <h3><strong>Pedido n° 547 578 528</strong>
                    <small>May 18, 2014 10:21</small></h3>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Detalles</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal p-20">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Nro de Pedido:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>000235</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Sucursal Origen:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>Planeta</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Sucursal Destino:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>Gran Vía</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Estado:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>En Proceso</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        Observaciones:
                                    </div>
                                    <div class="col-sm-8">
                                        <strong>Client address and shipping address are different</strong>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Movimientos</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha Movimiento</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Steve</td>
                                        <td>Mac Queen</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                            <div class="panel-heading">
                                <h3 class="panel-title">Artículos</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                    <table id="articulos-table" class="table table-tools table-hover">
                                        <thead>
                                            <tr>
                                                <th style="min-width:70px"><strong>Codigo</strong>
                                                <th><strong>Artículo</strong>
                                                </th>
                                                <th><strong>Talle</strong>
                                                </th>
                                                <th><strong>Color</strong>
                                                </th>
                                                <th><strong>Precio</strong>
                                                </th>
                                                <th><strong>Date added</strong>
                                                </th>
                                                <th style="width:10%;text-align:center"><strong>Stock</strong>
                                                </th>
                                                <th class="text-center"><strong>Sales</strong>
                                                </th>
                                                <th class="text-center"><strong>Status</strong>
                                                </th>
                                                <th class="text-center"><strong>Actions</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for articulo in lista_articulos %}
                                            <tr>
                                                <td>{{ articulo.codigo }}</td>
                                                <td>{{ articulo.descripcion }}</td>
                                                <td>{{ articulo.talle }}</td>
                                                <td>{{ articulo.color }}</td>
                                                <td><strong>{{ articulo.precio }}</strong></td>
                                                <td>02/03/2013</td>
                                                <td class="color-success">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success" data-aria-valuetransitiongoal="75">2654</div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="sparkline" data-sparkline-color="#7BB2B4"
                                                    data-sparkline-value="[13,14,16,15,4,14,20,14,12,16,11,17,19,16]"></div>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-success w-300">Online</span>
                                                </td>
                                                <td class="text-center ">
                                                    <a href="ecommerce_product_view.html" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a href="#" class="delete btn btn-sm btn-default"><i class="fa fa-times-circle"></i> Remove</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{% endblock content %}


{% block pageLevelScripts %}
    <script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}plugins/datatables/table.editable.js"></script>
<script>
        var articulosTable = $('#articulos-table').dataTable({
            "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });
        //oTable.fnDraw();

        /* Add a placeholder to searh input */
        $('.dataTables_filter input').attr("placeholder", "Search a product...");
</script>
{% endblock pageLevelScripts %}