{% extends 'base.html' %}

{% block pageLevelStyle   %}

    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
{% endblock pageLevelStyle %}

{% block body %}
<body data-page="forms">
{% endblock body %}

{% block content %}
        <div id="main-content">
            <div class="row">
                <div class="col-md-8 vcenter">
                    <div class="page-title">
                        <i class="icon-custom-left"></i>
                        <h3><img class="m-r-20" src="{{ STATIC_URL }}img/various/invoice.png" alt="invoice"><strong>Order n° 547 578 528</strong>
                            <small>May 18, 2014 10:21</small></h3>
                    </div>
                </div><!--
             --><div class="col-md-4 vcenter">
                        <a href="ecommerce_product_view.html" class="btn btn-success m-t-10 pull-right"><i class="fa fa-save"></i></i> Guardar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabcordion">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#articulos" data-toggle="tab">Artículos</a></li>
                            <li><a href="#order_resume" data-toggle="tab">Resumen</a></li>
                            <li><a href="#entrega" data-toggle="tab">Entrega</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="articulos">
                                <div class="row p-20">
                                    <div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group transparent">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" id="nuevo_pedido" type="button" data-toggle="modal" data-target="#modal-online">
                                                        <i class="fa fa-search"></i></button>
                                                </div>
                                                <input type="text" id="selArticulo" class="form-control" data-provide="typeahead" placeholder="Ingrese el Artículo...">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i> Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <table id="articulos_table" class="table">
                                            <thead>
                                                <tr>
                                                    <th style="min-width:70px"><strong>Codigo</strong>
                                                    <th><strong>Artículo</strong></th>
                                                    <th><strong>Talle</strong></th>
                                                    <th><strong>Color</strong></th>
                                                    <th><strong>Precio</strong></th>
                                                    <th><strong>Cantidad</strong></th>
                                                    <th><strong>Accion</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
{#                                                <tr>#}
{#                                                    <td>000001</td>#}
{#                                                    <td>Remera</td>#}
{#                                                    <td>Medium</td>#}
{#                                                    <td>Verde</td>#}
{#                                                    <td>$25.20</td>#}
{#                                                    <td>#}
{#                                                        <select class="form-control">#}
{#                                                            <option>1</option>#}
{#                                                            <option>2</option>#}
{#                                                            <option>3</option>#}
{#                                                        </select>#}
{#                                                    </td>#}
{#                                                </tr>#}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <i class="glyph-icon flaticon-shopping80 f-80"></i>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Subtotal:
                                                            </div>
                                                            <div id="subtotal" class="col-md-3 w-600">

                                                            </div>
                                                            <div class="col-md-8">
                                                                 Recargo:
                                                            </div>
                                                            <div id="recargo" class="col-md-3 w-600">

                                                            </div>
                                                            <div class="col-md-8">
                                                                 Total Venta:
                                                            </div>
                                                            <div id="totalVenta" class="col-md-3 w-600">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="order_resume">
                                <div class="row p-20">
                                    <div class="col-md-6">
                                        <h3 class="m-t-0 m-b-20">Global infos</h3>
                                        <form class="form-horizontal p-20">
                                            <div class="form-group">
                                                <div class="col-sm-2">Order Number:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>547 578 528</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Date:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>May 18, 2014 10:21</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Client Name:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong><a href="#" data-rel="tooltip" title="Edit customer">John Miller</a></strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Total Amount:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>$152.00</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">VAT (20%):
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>$30.40</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Item Numbers:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>4</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Delivery Date:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>May 25, 2014</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Destination:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>Miami (USA)</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Actual Status:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>Waiting shipment</strong>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="m-t-0 m-b-20">Other infos</h3>
                                        <form class="form-horizontal p-20">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Shipping Address:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>72, Perk Avenue, New York, USA</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Shipping method:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>Road</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Payment Method:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>Credit Card</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Items:
                                                </div>
                                                <div class="col-sm-8 c-red">
                                                    <strong><i class="fa fa-exclamation-triangle"></i> 1 Item is unavailable (15 days)</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Client:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>3 past orders (hight trust level)</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Other info:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>Client address and shipping address are different</strong>
                                                </div>
                                            </div>
                                            <div class="form-group m-t-60">
                                                <div class="col-sm-8 col-sm-offset-4">
                                                    <a class="btn btn-block btn-primary" href="#">See Invoice</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="entrega">
                                <div class="row p-20">
                                    <div class="col-md-6">
                                        <div class="input-group transparent">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="nuevoCliente" data-toggle="modal" data-target="#modal-cliente">
                                                    <i class="fa fa-user"></i> Nuevo</button>
                                            </div>
                                            <input type="text" id="selCliente" class="form-control" data-provide="typeahead" placeholder="Ingrese Cliente...">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group transparent">
                                            <input type="text" id="selMedioPago" class="form-control" data-provide="typeahead" placeholder="Ingrese Medio de Pago...">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <form class="form-horizontal">
                                            <div class="col-md-6">
                                                <h3 class="m-t-0 m-b-20">Información del cliente: </h3>
                                                <div id="infoCliente">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="m-t-0 m-b-20">Forma de Pago</h3>
                                                <div id="infoFormaPago">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'includes/clienteModal.html' %}
    {% include 'includes/busquedaOnlineModal.html' %}
{% endblock content %}


{% block pageLevelScripts %}
{#<script src="{{ STATIC_URL }}plugins/datetimepicker/jquery.datetimepicker.js"></script>#}
<script src="{{ STATIC_URL }}plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.js"></script>#}
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.date.js"></script>#}
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.time.js"></script>#}
<script src="{{ STATIC_URL }}plugins/bootstrap-switch/bootstrap-switch.js"></script>

<script src="{{ STATIC_URL }}plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/i18n/es.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/parsley.min.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/parsley.extend.js"></script>
<script  type="text/template" class="formaPagoTemplate">
    <div class="form-group">
        <div class="col-sm-4">Forma:
        </div>
        <div class="col-sm-8">
            <strong><%= nombre %></strong>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">Descripción:
        </div>
        <div class="col-sm-8">
            <strong><%= descripcion %></strong>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">Recargo:
        </div>
        <div class="col-sm-8">
            <strong><%= recargo * 100 %>% </strong>
        </div>
    </div>
</script>
<script>
window.ParsleyValidator.setLocale('es');
$(function(){
    var nuevoPedido = $("#nuevo_pedido");
    var articulosTable = $("#articulos_table").DataTable({
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false
    });
    var clienteSubmit = $("#clienteSubmit");
    var modalCliente = $("#modal-cliente");
    var formCliente = $("#cliente");
    var infoCliente = $("#infoCliente");
    var infoFormaPago = $("#infoFormaPago");
    var selArticulo = $('#selArticulo');
    var selCliente = $("#selCliente");
    var selMedioPago = $("#selMedioPago");
    var clienteReset = $("#clienteReset");
    var divSubtotal = $("#subtotal");
    var divRecargo = $("#recargo");
    var divTotalVenta = $("#totalVenta");
    var transaccion = null;
    var cliente = null;
    var forma_pago = null;
    var vendedor = null;
    var promocion = null;
    var subtotal = 0;
    var recargo = 0;
    var totalVenta = 0;
    var indiceRecargo = 0;
    var infoCliTemplate = _.template($("script.template").html());
    var infoFPTemplate = _.template($("script.formaPagoTemplate").html());
    var selItem = null;

    formCliente.submit(function(e){
        e.preventDefault();
{#        if (true === $(this).parsley().isValid()) { // if form validation is successful#}
{#            submitForm();#}
{#        }#}
    });

    selArticulo.on("keypress", function(e){
        if(e.keyCode == 13){
            sumarVenta(parseFloat(selItem.precio));
            if (updateTableRow(selItem)){
                updateRen(selItem);
            } else {
                addRen(selItem);
            }

        }
    });

    selArticulo.typeahead({
        minLength: 3,
        source: function (query, process) {
            return $.getJSON('{% url 'venta_articulos_ajax' %}', {keyword: query}, function (result) {
                return process(result.articulos)
            });
        },
        matcher: function (item){
            return true;
        },
        afterSelect: function (item){
            console.log(item);
            selItem = item;
            //cantidad: 40codigo: "r00001"color: "Azul"color_id: 1descripcion: "Remera MC lisa"id: 648name: "Remera MC lisa Azul Small"precio: "80.00"talle: "Small"talle_id: 1
            if (item.cantidad == 0){
                nuevoPedido.click();
                return;
            }

            if (transaccion === null){

                // generar venta
                transaccion = 15;
{#                $.ajax({#}
{#                    type: "POST",#}
{#                    url: "{% url 'generar_transaccion_ajax' %}",#}
{#                    data: {#}
{#                        cliente_id: cliente,#}
{#                        forma_pago_id: forma_pago,#}
{#                        vendedor_id: vendedor,#}
{#                        promocion_id: promocion#}
{#                    },#}
{#                    success: function(response){#}
{#                        transaccion = response.transaccion_id;#}
{#                    },#}
{#                    error: function(xhr){#}
{#                        console.log(xhr);#}
{#                    }#}
{#                });#}
            } else {
                //add or update ren
            }

            sumarVenta(parseFloat(item.precio));

            if (updateTableRow(item)){
                updateRen(item);
                return
            } else {
                addRen(item)

            }

            articulosTable.row.add([
                    item.codigo,
                    item.descripcion,
                    item.talle,
                    item.color,
                    item.precio,
                    1,
                    "<a href='#' class='delete btn btn-sm btn-default'><i class='fa fa-times-circle'></i> Remover</a>"
            ]).draw();
        }
    });

    function updateRen(item) {
        $.ajax({
            type: "POST",
            url: "{% url 'updateRen_ajax' %}",
            data: {
                articulo_id: item.id,
                transaccion_id: transaccion
            },
            success: function(response){
                console.log(response);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    }

    function addRen(item) {
        $.ajax({
            type: "POST",
            url: "{% url 'addRen_ajax' %}",
            data: {
                articulo_id: item.id,
                transaccion_id: transaccion
            },
            success: function(response){
                console.log(response);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    }

    function updateTableRow(item){

        var indexes = articulosTable.rows().eq( 0 ).filter( function (rowIdx) {
            var contains = articulosTable.cell( rowIdx, 0 ).data() === item.codigo;
            if (contains) {
                var newValue = articulosTable.cell(rowIdx, 5).data() + 1;
                articulosTable.cell(rowIdx, 5).data(newValue).draw();
            }
            return contains;
        } );
        return indexes.length > 0;

    }

    selCliente.typeahead({
        minLength: 3,
        source: function (query, process) {
            return $.getJSON('{% url 'venta_clientes_ajax' %}', {keyword: query}, function (result) {
                return process(result.clientes)
            });
        },
        matcher: function (item){
            return true;
        },
        afterSelect: function (item){
            infoCliente.html(infoCliTemplate(item));
        }
    });

    selMedioPago.typeahead({
        minLength: 3,
        source: function (query, process) {
            return $.getJSON('{% url 'venta_fp_ajax' %}', {keyword: query}, function (result) {
                return process(result.formasPago)
            });
        },
        matcher: function (item){
            return true;
        },
        afterSelect: function (item){
            infoFormaPago.html(infoFPTemplate(item));
            indiceRecargo = parseFloat(item.recargo);
            recargarVenta();
        }
    });

    /* Delete a product */
    $("#articulos_table tbody").on('click', "tr a.delete" ,  function (e) {
        e.preventDefault();
        if (confirm("¿Está seguro que desea eliminar el artículo?") == false) {
            return;
        }
        var row = articulosTable.row( $(this).parents('tr') );
        var data = row.data();

        articulosTable.row( $(this).parents('tr') )
        .remove()
        .draw();
        // alert("Deleted! Do not forget to do some ajax to sync with backend :)");
        restarVenta(data[4], data[5]);

    });

    clienteSubmit.click(function(){
        if (confirm("¿Está seguro que desea agregar un Cliente?") == true){
            var formData = formCliente.serializeObject();

            infoCliente.html(infoCliTemplate(formData));

{#            $.ajax({#}
{#                type: "POST",#}
{#                url: "{% url 'nuevo_cliente_ajax' %}",#}
{#                data: $("#cliente").serialize(),#}
{#                success: function(response){#}
{#                    modalCliente.modal("hide");#}
{#                },#}
{#                error: function(xhr){#}
{#                    console.log(xhr);#}
{#                }#}
{#            });#}
            clienteReset.click();
            modalCliente.modal("hide");

        }
    });

    function sumarVenta(precio){
        subtotal += precio;
        recargo = subtotal * indiceRecargo;
        totalVenta = subtotal + recargo;
        divSubtotal.html("$" + subtotal);
        divRecargo.html("$" + recargo);
        divTotalVenta.html("$" + totalVenta);
    }

    function restarVenta(precio, cantidad){
        subtotal = subtotal - parseFloat(precio) * parseFloat(cantidad);
        recargo = subtotal * indiceRecargo;
        totalVenta = subtotal + recargo;
        divSubtotal.html("$" + subtotal);
        divRecargo.html("$" + recargo);
        divTotalVenta.html("$" + totalVenta);
    }

    function recargarVenta(){
        recargo = subtotal * indiceRecargo;
        totalVenta = subtotal + recargo;
        divRecargo.html("$" + recargo);
        divTotalVenta.html("$" + totalVenta);
    }

});
</script>
{% endblock pageLevelScripts %}