{% extends 'base.html' %}

{% block pageLevelStyle   %}
    <link href="{{ STATIC_URL }}css/colors/color-red.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
{% endblock pageLevelStyle %}

{% block body %}
<body data-page="forms">
{% endblock body %}

{% block content %}
        <div id="main-content">
            <div class="page-title">
                <i class="icon-custom-left"></i>
                <h3><img class="m-r-20" src="{{ STATIC_URL }}img/various/invoice.png" alt="invoice"><strong>Order n° 547 578 528</strong>
                    <small>May 18, 2014 10:21</small></h3>
                <br>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabcordion">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#order_resume" data-toggle="tab">Resumen</a></li>
                            <li><a href="#articulos" data-toggle="tab">Artículos</a></li>
                            <li><a href="#entrega" data-toggle="tab">Entrega</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="order_resume">
                                <div class="row p-20">
                                    <div class="col-md-6">
                                        <h3 class="m-t-0 m-b-20">Global infos</h3>
                                        <form class="form-horizontal p-20">
                                            <div class="form-group">
                                                <div class="col-sm-2">Order Number:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>547 578 528</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Date:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>May 18, 2014 10:21</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Client Name:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong><a href="#" data-rel="tooltip" title="Edit customer">John Miller</a></strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Total Amount:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>$152.00</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">VAT (20%):
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>$30.40</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Item Numbers:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>4</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Delivery Date:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>May 25, 2014</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Destination:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>Miami (USA)</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">Actual Status:
                                                </div>
                                                <div class="col-sm-7">
                                                    <strong>Waiting shipment</strong>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="m-t-0 m-b-20">Other infos</h3>
                                        <form class="form-horizontal p-20">
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Shipping Address:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>72, Perk Avenue, New York, USA</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Shipping method:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>Road</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Payment Method:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>Credit Card</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Items:
                                                </div>
                                                <div class="col-sm-8 c-red">
                                                    <strong><i class="fa fa-exclamation-triangle"></i> 1 Item is unavailable (15 days)</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Client:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>3 past orders (hight trust level)</strong>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    Other info:
                                                </div>
                                                <div class="col-sm-8">
                                                    <strong>Client address and shipping address are different</strong>
                                                </div>
                                            </div>
                                            <div class="form-group m-t-60">
                                                <div class="col-sm-8 col-sm-offset-4">
                                                    <a class="btn btn-block btn-primary" href="#">See Invoice</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="articulos">
                                <div class="row p-20">
                                    <div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group transparent">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-online">
                                                        <i class="fa fa-search"></i></button>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Ingrese el Artículo...">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i> Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <table id="products-table" class="table">
                                            <thead>
                                                <tr>
                                                    <th style="min-width:70px"><strong>Codigo</strong>
                                                    <th><strong>Artículo</strong></th>
                                                    <th><strong>Talle</strong></th>
                                                    <th><strong>Color</strong></th>
                                                    <th><strong>Precio</strong></th>
                                                    <th><strong>Cantidad</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>000001</td>
                                                    <td>Remera</td>
                                                    <td>Medium</td>
                                                    <td>Verde</td>
                                                    <td>$25.20</td>
                                                    <td>
                                                        <select class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <i class="glyph-icon flaticon-shopping80 f-80"></i>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Total before Taxe:
                                                            </div>
                                                            <div class="col-md-3 w-600">
                                                                 $86
                                                            </div>
                                                        </div>
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Taxe:
                                                            </div>
                                                            <div class="col-md-3 w-600">
                                                                 $17.20
                                                            </div>
                                                        </div>
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Shipping:
                                                            </div>
                                                            <div class="col-md-3 w-600">
                                                                 $19.95
                                                            </div>
                                                        </div>
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Grand Total:
                                                            </div>
                                                            <div class="col-md-3 w-600">
                                                                 $123.15
                                                            </div>
                                                        </div>
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Total Paid:
                                                            </div>
                                                            <div class="col-md-3 w-600">
                                                                 $123.15
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="entrega">
                                <div class="row p-20">
                                    <div class="col-md-6">
                                        <div class="input-group transparent">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="nuevoCliente" data-toggle="modal" data-target="#modal-cliente">
                                                    <i class="fa fa-user"></i> Nuevo</button>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Ingrese Cliente...">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group transparent">
                                            <input type="text" class="form-control" placeholder="Ingrese Medio de Pago...">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <form class="form-horizontal">
                                            <div class="col-md-6">
                                                <h3 class="m-t-0 m-b-20">Información del cliente: </h3>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Customer Name:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong><a href="#" data-rel="tooltip" title="Edit customer">John Miller</a></strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Address:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>152, 33 Street</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">City:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>New York</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Country:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>USA</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Phone Number:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>868 584 547</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Email:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>jmiller@outlook.com</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Past Orders:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>3</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="m-t-0 m-b-20">Forma de Pago</h3>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Delivery Address Name:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>Amanda Brown</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Address:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>72, Perk Avenue</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">City:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>New York</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Country:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>USA</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Phone Number:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>665 754 325</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Fax Number:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>665 754 998</strong>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4">Email:
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <strong>abown@gmail.com</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'includes/clienteModal.html' %}
    {% include 'includes/busquedaOnlineModal.html' %}
{% endblock content %}


{% block pageLevelScripts %}
{#<script src="{{ STATIC_URL }}plugins/datetimepicker/jquery.datetimepicker.js"></script>#}
<script src="{{ STATIC_URL }}plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.js"></script>#}
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.date.js"></script>#}
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.time.js"></script>#}
<script src="{{ STATIC_URL }}plugins/bootstrap-switch/bootstrap-switch.js"></script>

<script src="{{ STATIC_URL }}plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/i18n/es.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/parsley.min.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/parsley.extend.js"></script>

<script>
window.ParsleyValidator.setLocale('es');
$(function(){
    $("#cliente").submit(function(e){
        e.preventDefault();
{#        if (true === $(this).parsley().isValid()) { // if form validation is successful#}
{#            submitForm();#}
{#        }#}
    });

});
</script>
{% endblock pageLevelScripts %}