{% extends 'base.html' %}

{% block pageLevelStyle   %}

    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/datatables/dataTables.css">
{% endblock pageLevelStyle %}

{% block body %}
<body data-page="forms">
{% endblock body %}

{% block content %}
        <div id="main-content">
            <div class="row">
                <div class="col-md-10 vcenter">
                    <div class="page-title">
                        <i class="icon-custom-left"></i>
                        <h3><img class="m-r-20" src="{{ STATIC_URL }}img/various/invoice.png" alt="invoice">
                            {% if transaccion %}
                            <strong id="nroTransaccion">Venta N° {{ transaccion.id|stringformat:"010d" }}</strong>
                            <!--<small id="fechaTransaccion">{{ transaccion.fecha }}</small>--></h3>
                            {% endif %}
                    </div>
                </div><!--
             --><div class="col-md-2 vcenter">
                {% if not read_only %}
                    <a href="#" class="btn btn-block btn-danger m-t-10 pull-right" id="cancelarVenta"><i class="fa fa-ban"></i></i> Cancelar</a>
                    <a href="#" class="btn btn-block btn-primary m-t-10 pull-right" id="guardarVenta"><i class="fa fa-save"></i></i> Guardar</a>
                    <a href="#" class="btn btn-block btn-success m-t-10 pull-right hidden" id="finalizarVenta"><i class="fa fa-check"></i></i> Finalizar</a>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabcordion">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#articulos" data-toggle="tab">Artículos</a></li>
{#                            <li><a href="#order_resume" data-toggle="tab">Resumen</a></li>#}
                            <li><a href="#entrega" data-toggle="tab">Entrega</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="articulos">
                            {% if not read_only %}
                                <div class="row p-20">
                                    <div>
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group transparent">
{#                                                <div class="input-group-btn">#}
                                                    <button class="btn btn-default hidden" id="nuevo_pedido" type="button" data-toggle="modal" data-target="#modal-online">
                                                        <i class="fa fa-search"></i></button>
{#                                                </div>#}
                                                <div class="input-group-btn">
                                                    <input type="text" id="selArticulo" class="form-control" data-provide="typeahead" placeholder="Ingrese el Artículo...">
{#                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i> Agregar</button>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <table id="articulos_table" class="table">
                                            <thead>
                                                <tr>
                                                    <th style="min-width:70px"><strong>Codigo</strong>
                                                    <th><strong>Artículo</strong></th>
                                                    <th><strong>Talle</strong></th>
                                                    <th><strong>Color</strong></th>
                                                    <th><strong>Precio</strong></th>
                                                    <th><strong>Cantidad</strong></th>
                                                    {% if not read_only %}
                                                    <th><strong>Accion</strong></th>
                                                    <th><strong>Id</strong></th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for renglon in renglones %}
                                                <tr>
                                                    <td>{{ renglon.codigo }}</td>
                                                    <td>{{ renglon.descripcion }}</td>
                                                    <td>{{ renglon.talle }}</td>
                                                    <td>{{ renglon.color }}</td>
                                                    <td>{{ renglon.precio }}</td>
                                                    <td>{{ renglon.cantidad }}</td>
                                                    {% if not read_only %}
                                                    <td><a href='#' class='delete btn btn-sm btn-default'><i class='fa fa-times-circle'></i> Remover</a></td>
                                                    <td>{{ renglon.id }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <i class="glyph-icon flaticon-shopping80 f-80"></i>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row align-right m-b-10">
                                                            <div class="col-md-8">
                                                                 Subtotal:
                                                            </div>
                                                            <div id="subtotal" class="col-md-3 w-600">
                                                                {% if read_only %}
                                                                ${{ sub_total|floatformat }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-8">
                                                                 Recargo:
                                                            </div>
                                                            <div id="recargo" class="col-md-3 w-600">
                                                                {% if read_only %}
                                                                ${{ recargo|floatformat }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-8">
                                                                 Total Venta:
                                                            </div>
                                                            <div id="totalVenta" class="col-md-3 w-600">
                                                                {% if read_only %}
                                                                ${{ total_venta|floatformat }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                            <div class="tab-pane fade" id="order_resume">#}
{#                                <div class="row p-20">#}
{#                                    <div class="col-md-6">#}
{#                                        <h3 class="m-t-0 m-b-20">Global infos</h3>#}
{#                                        <form class="form-horizontal p-20">#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Order Number:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>547 578 528</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Date:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>May 18, 2014 10:21</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Client Name:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong><a href="#" data-rel="tooltip" title="Edit customer">John Miller</a></strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Total Amount:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>$152.00</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">VAT (20%):#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>$30.40</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Item Numbers:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>4</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Delivery Date:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>May 25, 2014</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Destination:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>Miami (USA)</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-2">Actual Status:#}
{#                                                </div>#}
{#                                                <div class="col-sm-7">#}
{#                                                    <strong>Waiting shipment</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <h3 class="m-t-0 m-b-20">Other infos</h3>#}
{#                                        <form class="form-horizontal p-20">#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-4">#}
{#                                                    Shipping Address:#}
{#                                                </div>#}
{#                                                <div class="col-sm-8">#}
{#                                                    <strong>72, Perk Avenue, New York, USA</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-4">#}
{#                                                    Shipping method:#}
{#                                                </div>#}
{#                                                <div class="col-sm-8">#}
{#                                                    <strong>Road</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-4">#}
{#                                                    Payment Method:#}
{#                                                </div>#}
{#                                                <div class="col-sm-8">#}
{#                                                    <strong>Credit Card</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-4">#}
{#                                                    Items:#}
{#                                                </div>#}
{#                                                <div class="col-sm-8 c-red">#}
{#                                                    <strong><i class="fa fa-exclamation-triangle"></i> 1 Item is unavailable (15 days)</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-4">#}
{#                                                    Client:#}
{#                                                </div>#}
{#                                                <div class="col-sm-8">#}
{#                                                    <strong>3 past orders (hight trust level)</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="col-sm-4">#}
{#                                                    Other info:#}
{#                                                </div>#}
{#                                                <div class="col-sm-8">#}
{#                                                    <strong>Client address and shipping address are different</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group m-t-60">#}
{#                                                <div class="col-sm-8 col-sm-offset-4">#}
{#                                                    <a class="btn btn-block btn-primary" href="#">See Invoice</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="tab-pane fade" id="entrega">
                                {% if not read_only %}
                                <div class="row p-20">
                                    <div class="col-md-6">
                                        <div class="input-group transparent">

                                            <input type="text" id="selCliente" class="form-control" data-provide="typeahead" placeholder="Ingrese Cliente...">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="nuevoCliente" data-toggle="modal" data-target="#modal-cliente">
                                                    <i class="fa fa-user"></i> Nuevo</button>
                                            </div>
{#                                            <div class="input-group-btn">#}
{#                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group transparent">
                                            <div class="input-group-btn">
                                                <input type="text" id="selMedioPago" class="form-control" data-provide="typeahead" placeholder="Ingrese Medio de Pago...">
{#                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row p-20">
                                    <div class="col-md-12">
                                        <form class="form-horizontal">
                                            <div class="col-md-6">
                                                <h3 class="m-t-0 m-b-20">Información del cliente: </h3>
                                                <div id="infoCliente">
                                                {% if read_only %}
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Nombre:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong><a href="#" data-rel="tooltip" title="Edit customer">{{ cliente_json.nombre }}</a></strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Apellido:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ cliente_json.apellido }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">DNI:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ cliente_json.dni }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">CUIL:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ cliente_json.cuil }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Email:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ cliente_json.email }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Dirección:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ cliente_json.direccion }}</strong>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="m-t-0 m-b-20">Forma de Pago</h3>
                                                <div id="infoFormaPago">
                                                {% if read_only %}
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Forma:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ forma_pago_json.nombre }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Descripción:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ forma_pago_json.descripcion }}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">Recargo:
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <strong>{{ ind_recargo|floatformat }}%</strong>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'includes/clienteModal.html' %}
    {% include 'includes/busquedaOnlineModal.html' %}
{% endblock content %}


{% block pageLevelScripts %}
{#<script src="{{ STATIC_URL }}plugins/datetimepicker/jquery.datetimepicker.js"></script>#}
<script src="{{ STATIC_URL }}plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.js"></script>#}
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.date.js"></script>#}
{#<script src="{{ STATIC_URL }}plugins/pickadate/picker.time.js"></script>#}
<script src="{{ STATIC_URL }}plugins/bootstrap-switch/bootstrap-switch.js"></script>

<script src="{{ STATIC_URL }}plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dynamic/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{ STATIC_URL }}plugins/datatables/dataTables.tableTools.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/i18n/es.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/parsley.min.js"></script>
<script src="{{ STATIC_URL }}plugins/parsley/parsley.extend.js"></script>
<script  type="text/template" class="formaPagoTemplate">
    <div class="form-group">
        <div class="col-sm-4">Forma:
        </div>
        <div class="col-sm-8">
            <strong><%= nombre %></strong>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">Descripción:
        </div>
        <div class="col-sm-8">
            <strong><%= descripcion %></strong>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">Recargo:
        </div>
        <div class="col-sm-8">
            <strong><%= recargo * 100 %>% </strong>
        </div>
    </div>
</script>
{% if not read_only %}
<script>
window.ParsleyValidator.setLocale('es');
$(function(){
    var nuevoPedido = $("#nuevo_pedido");
    var articulosTable = $("#articulos_table").DataTable({
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false,
        "columnDefs": [
            {
                "targets": [ 7 ],
                "visible": false
            }
        ]
    });
    var clienteSubmit = $("#clienteSubmit");
    var modalCliente = $("#modal-cliente");
    var formCliente = $("#cliente");
    var infoCliente = $("#infoCliente");
    var infoFormaPago = $("#infoFormaPago");
    var selArticulo = $('#selArticulo');
    var selCliente = $("#selCliente");
    var selMedioPago = $("#selMedioPago");
    var clienteReset = $("#clienteReset");
    var divSubtotal = $("#subtotal");
    var divRecargo = $("#recargo");
    var divTotalVenta = $("#totalVenta");
    var guardarVenta = $("#guardarVenta");
    var cancelarVenta = $("#cancelarVenta");
    var finalizarVenta = $("#finalizarVenta");
    var nroTransaccion = $("#nroTransaccion");
    var poMessage = $("#poMessage");
    var transaccion_id = {{ transaccion_id }};
    var cliente = {{ cliente_json|safe }};
    var forma_pago = {{ forma_pago_json|safe }};
    var cliente_id = {{ cliente_id }};
    var forma_pago_id = {{ forma_pago_id }};
    var vendedor = null;
    var promocion = null;
    var subtotal = {{ sub_total|floatformat }};
    var recargo = 0;
    var totalVenta = 0;
    var indiceRecargo = 0;
    var infoCliTemplate = _.template($("script.template").html());
    var infoFPTemplate = _.template($("script.formaPagoTemplate").html());
    var boTemplate = _.template($("script.boTemplate").html());
    var selItem = null;
    var pedirArticulo = null;


    if (cliente){
        infoCliente.html(infoCliTemplate(cliente));
    }

    if (forma_pago){
        infoFormaPago.html(infoFPTemplate(forma_pago));
        indiceRecargo = parseFloat(forma_pago.recargo);
    }
    sumarVenta(0);
    formCliente.submit(function(e){
        e.preventDefault();
{#        if (true === $(this).parsley().isValid()) { // if form validation is successful#}
{#            submitForm();#}
{#        }#}
    });

    checkFinTransaccion();

    selArticulo.on("keypress", function(e){
        if(e.keyCode == 13 && selItem !== null){
            sumarVenta(parseFloat(selItem.precio));
            if (updateTableRow(selItem)){
                updateRen(selItem);
            } else {
                addRen(selItem);
            }
        }
    });

    selArticulo.on("blur", function(e){
        clearItem();
    });

    selArticulo.typeahead({
        minLength: 3,
        source: function (query, process) {
            return $.getJSON('{% url 'venta_articulos_ajax' %}', {keyword: query}, function (result) {
                return process(result.articulos)
            });
        },
        matcher: function (item){
            return true;
        },
        afterSelect: function (item){
            console.log(item);
            selItem = item;
            //cantidad: 40codigo: "r00001"color: "Azul"color_id: 1descripcion: "Remera MC lisa"id: 648name: "Remera MC lisa Azul Small"precio: "80.00"talle: "Small"talle_id: 1
            if (item.cantidad == 0){
                pedirArticulo = item;
                articuloBusquedaOnline(item.id);
                return;
            }

            if (transaccion_id === 0){

                // generar venta
                var deferred = guardarTransaccion();
            } else {
                checkFinTransaccion();
            }

            sumarVenta(parseFloat(item.precio));

            if (deferred) {
                deferred.done(function () {
                    //wait until trasaction is created to perform this task
                    addOrUpdate(item);
                });
            } else {
                addOrUpdate(item);
            }
        }
    });

    function addOrUpdate(item){
        if (updateTableRow(item)){
            updateRen(item);
        } else {
            addRen(item);
            articulosTable.row.add([
                item.codigo,
                item.descripcion,
                item.talle,
                item.color,
                item.precio,
                1,
                "<a href='#' class='delete btn btn-sm btn-default'><i class='fa fa-times-circle'></i> Remover</a>",
                item.id
            ]).draw();
        }
    }

    function updateRen(item) {
        $.ajax({
            type: "POST",
            url: "{% url 'updateRen_ajax' %}",
            data: {
                articulo_id: item.id,
                transaccion_id: transaccion_id
            },
            success: function(response){
                console.log(response);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    }

    function addRen(item) {
        $.ajax({
            type: "POST",
            url: "{% url 'addRen_ajax' %}",
            data: {
                articulo_id: item.id,
                transaccion_id: transaccion_id
            },
            success: function(response){
                console.log(response);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    }

    function updateTableRow(item){

        var indexes = articulosTable.rows().eq( 0 ).filter( function (rowIdx) {
            var contains = articulosTable.cell( rowIdx, 0 ).data() === item.codigo;
            if (contains) {
                var newValue = articulosTable.cell(rowIdx, 5).data() + 1;
                articulosTable.cell(rowIdx, 5).data(newValue).draw();
            }
            return contains;
        } );
        return indexes.length > 0;

    }

    selCliente.typeahead({
        minLength: 3,
        source: function (query, process) {
            return $.getJSON('{% url 'venta_clientes_ajax' %}', {keyword: query}, function (result) {
                return process(result.clientes)
            });
        },
        matcher: function (item){
            return true;
        },
        afterSelect: function (item){
            infoCliente.html(infoCliTemplate(item));
            cliente_id = item.id;
        }
    });

    selMedioPago.typeahead({
        minLength: 3,
        source: function (query, process) {
            return $.getJSON('{% url 'venta_fp_ajax' %}', {keyword: query}, function (result) {
                return process(result.formasPago)
            });
        },
        matcher: function (item){
            return true;
        },
        afterSelect: function (item){
            infoFormaPago.html(infoFPTemplate(item));
            indiceRecargo = parseFloat(item.recargo);
            recargarVenta();
            forma_pago_id = item.id;
        }
    });

    /* Delete a product */
    $("#articulos_table tbody").on('click', "tr a.delete" ,  function (e) {
        e.preventDefault();
        if (confirm("¿Está seguro que desea eliminar el artículo?") == false) {
            return;
        }
        var row = articulosTable.row( $(this).parents('tr') );
        var data = row.data();

        var precio = data[4];
        var cantidad = data[5];
        var id = data[7];
        articulosTable.row( $(this).parents('tr') )
        .remove()
        .draw();
        // alert("Deleted! Do not forget to do some ajax to sync with backend :)");
        $.ajax({
            type: "POST",
            url: "{% url 'delRen_ajax' %}",
            data: {
                articulo_id: id,
                transaccion_id: transaccion_id,
                cantidad: cantidad
            },
            success: function(response){
                console.log(response);
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
        restarVenta(precio, cantidad);
        clearItem();
    });

    clienteSubmit.click(function(){
        if (confirm("¿Está seguro que desea agregar un Cliente?") == true){
            cliente = formCliente.serializeObject();

            infoCliente.html(infoCliTemplate(cliente));

            $.ajax({
                type: "POST",
                url: "{% url 'nuevo_cliente_ajax' %}",
                data: $("#cliente").serialize(),
                success: function(response){
                    modalCliente.modal("hide");
                    cliente = response.cliente_id;
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            clienteReset.click();
            modalCliente.modal("hide");
        }
    });

    function sumarVenta(precio){
        subtotal += precio;
        recargo = subtotal * indiceRecargo;
        totalVenta = subtotal + recargo;
        divSubtotal.html("$" + subtotal);
        divRecargo.html("$" + recargo);
        divTotalVenta.html("$" + totalVenta);
    }

    function restarVenta(precio, cantidad){
        subtotal = subtotal - parseFloat(precio) * parseFloat(cantidad);
        recargo = subtotal * indiceRecargo;
        totalVenta = subtotal + recargo;
        divSubtotal.html("$" + subtotal);
        divRecargo.html("$" + recargo);
        divTotalVenta.html("$" + totalVenta);
    }

    function recargarVenta(){
        recargo = subtotal * indiceRecargo;
        totalVenta = subtotal + recargo;
        divRecargo.html("$" + recargo);
        divTotalVenta.html("$" + totalVenta);
    }

    function clearItem(){
        selItem = null;
        selArticulo.val("");
    }

    guardarVenta.click(function(){
        guardarTransaccion();
    });

    cancelarVenta.click(function () {
        if (confirm("¿Está seguro que desea cancelar la Venta?")){
            $.ajax({
                type: "POST",
                url: "{% url 'cancelar_transaccion_ajax' %}",
                data: {
                    transaccion_id:transaccion_id
                },
                success: function(response){
                    window.location.href = '{% url 'ventas' %}';
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        }
    });

    function guardarTransaccion(){
        return $.ajax({
            type: "POST",
            url: "{% url 'guardar_transaccion_ajax' %}",
            data: {
                transaccion_id:transaccion_id,
                cliente_id: cliente_id,
                forma_pago_id: forma_pago_id,
                vendedor_id: vendedor,
                promocion_id: promocion
            },
            success: function(response){
                if (transaccion_id === null || transaccion_id === 0) {
                    transaccion_id = response.transaccion_id;
                    nroTransaccion.html("Venta N° " + pad(transaccion_id, 10));
                } else {
                    //que hago?
                }
                checkFinTransaccion();
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    }

    function checkFinTransaccion(){
        if (transaccion_id) {
            $.ajax({
                type: "GET",
                url: "{% url 'check_fin_transaccion_ajax' %}",
                data: {
                    transaccion_id:transaccion_id
                },
                success: function(response){

                    if (response.result) {
                        finalizarVenta.removeClass("hidden");
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        }
    }
    
    finalizarVenta.click(function () {
        var deferred = guardarTransaccion();
        deferred.done(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'check_fin_transaccion_ajax' %}",
                data: {
                    transaccion_id:transaccion_id
                },
                success: function(response){

                    if (response.result) {
                        finalizarVenta.removeClass("hidden");
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
    });

    function articuloBusquedaOnline(articulo_id){
        $.ajax({
            type: "GET",
            url: "{% url 'check_articulo_online_ajax' %}",
            data: {
                articulo_id:articulo_id
            },
            success: function(response){
                console.log(response);
                if (response.almacenes) {
                   $("#boContent").html(boTemplate({"sucursal":response.almacenes}));
                }
                nuevoPedido.click();
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    }

    function pad (str, max) {
      str = str.toString();
      return str.length < max ? pad("0" + str, max) : str;
    }

    $("#boContent").on("click", "button.pedido", function(e){
        if(confirm("Desea pedir el artículo " + pedirArticulo.descripcion + " a esta sucursal?")){
            //hacer un ajax con el pedido
            data = pedirArticulo;
            data.sucursal_destino = $(e.currentTarget).data("sucursal");
            $.ajax({
                type: "POST",
                url: "{% url 'pedir_articulo_ajax' %}",
                data: data,
                success: function(response){

                    if (response.result) {

                        poMessage.removeClass("hidden");
                        setTimeout(function () {
                            $("#modal-online").modal("toggle");
                            poMessage.addClass("hidden");
                        }, 3000);

                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        }
    });

});
</script>
{% endif %}
{% endblock pageLevelScripts %}