<div class="modal fade" id="modal-online" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><strong>Artículo disponible en la siguientes sucursales</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="boContent">
                            <label>
                                <input type="radio" name="sucursal">Libertad
                            </label>
                            <label>
                                <input type="radio" name="sucursal">Gran Via
                            </label>
                            <label>
                                <input type="radio" name="sucursal">Planeta
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Pedir Artículo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" class="boTemplate">
<%
_.each(sucursal, function(element){

%>
    <button type="submit" class="btn btn-primary pedido" data-sucursal="<%= element.sucursal_id %>"><i class="fa fa-envelope"></i> Pedir  a <%= element.descripcion %></button>
<%
    });
%>
</script>